@import "fonts.css";

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or 
 * matching route, the styles in here will be applied to the Document, without 
 * any sort of CSS scoping.
 *
 *
 * Note: This project uses auto-prefixing for CSS and automatically converts px
 * units to rem units.
 */

:root {
  --fuschia: #eb3391;
  --aqua: #1a9cfb;
  --light: #fffafd;
  --dark: #231F20;
  --black: #11050f;
  --dark-gradient: linear-gradient(180deg, var(--black) 0%, var(--dark) 100%);


  --primary: var(--fuschia);
  --secondary: var(--aqua);

  --ff-heading: "DIN Condensed", Futura, Impact, "Arial Narrow", "Arial Black", sans-serif;
  --ff-default: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* A modern CSS Reset ------------------------------------------- 
   https://www.joshwcomeau.com/css/custom-css-reset/ ------------ 
   (with some other goodies added in) ---------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
html {
  -webkit-text-size-adjust: 100%;
  tab-size: 2;
  font-family: var(--ff-default);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Default Styles --------------------------------------------------- */
html, body {
  background-color: var(--black);
  color: var(--light);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 1rem;
  letter-spacing: -0.015em;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 1rem;
  letter-spacing: -0.015em;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 1rem;
  letter-spacing: -0.015em;
  font-weight: 700;
}

button,
.btn {
  font-size: 24px;
  letter-spacing: -0.015em;
  font-weight: 700;

}

main {
  a {
    color: var(--secondary);
    text-decoration: none;
  }

  p {
    font-size: 18px;
  }
}

/* Custom Builder CSS Class ----------------------------------------- 
  This is just an example of setting a custom CSS class on a Builder component,
  then applying styles to it here in the global CSS file.
*/
.builder-footer a {
  color: var(--text-color);
  text-decoration: none;
}

.builder-footer a:hover {
  color: var(--qwik-light-blue);
  text-decoration: underline;
}